asgiref==3.6.0
distlib==0.3.7
Django==4.1.13
django-ckeditor==6.6.1
django-cors-headers==3.14.0
django-js-asset==2.1.0
djangorestframework==3.14.0
filelock==3.12.4
Pillow==10.2.0
platformdirs==3.11.0
py-fibonacci==0.5.2
pytz==2023.3
shortuuid==1.0.11
sqlparse==0.5.0
tzdata==2023.2
whitenoise==6.4.0
