<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .fa-copy {
            cursor: pointer;
        }

        .fa-copy:hover {
            color: blue;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <section id="urlbox" class="p-4 bg-white rounded shadow">
            <h1 class="text-center mb-4 text-primary">Url Shortener</h1>
            <form method="post" action="{% url 'index' %}" class="mb-4">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <input type="submit" value="Shorten URL" class="btn btn-primary">
                </div>
            </form>

            <!-- Kısaltılmış URL'i gösteren bir alan -->
            {% if shortened_url %}
            <p class="mb-3">
                Shortened URL: 
                <a id="copyLink" href="{% url 'redirect_original' shortened_url.short_url %}" class="text-success" style="font-weight: bold; text-decoration: underline;">
                    http://127.0.0.1:8000/{{ shortened_url.short_url }}
                </a> 
                <i class="fa-regular fa-copy fa-lg" id="copyIcon"></i>
            </p>
            
            {% endif %}

            <p class="boxtextcenter " style="width: 50rem;text-align: justify;">
                ShortURL is a free tool developed by Kubilay Birer using Django, SQLite, HTML, CSS, and JavaScript technologies. It allows creating shortened links, making it easy to share. The application is hosted on Docker for seamless deployment and management.
            </p>
            
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var copyIcon = document.getElementById('copyIcon');
            var copyLink = document.getElementById('copyLink');

            copyIcon.addEventListener('click', function () {
                var textToCopy = copyLink.textContent;
                navigator.clipboard.writeText(textToCopy).then(function () {
                    alert('Link copied to clipboard!');
                }).catch(function (err) {
                    console.error('Unable to copy to clipboard', err);
                });
            });
        });
    </script>
</body>
</html>
